   <section class="full bg-light" id="footer">
      <div class="footer-container">
         <div>
            <img src="/img/logo.png" alt="Logo Footer">
            <p>
               A missão do site ProgMy é democratizar o ensino de programação, tornando 
               o aprendizado acessível, prático e envolvente para todos. 
            </p>
         </div>
         <div>
            <h3>Links</h3>
            <ul>
               <a href="/"><li>Home</li></a>
               <a href="/#aprendizado"><li>Aprendizado</li></a>
               <a href="/#exercicios"><li>Exercícios</li></a>
               <a href="/#quiz"><li>Quiz</li></a>
            </ul>
         </div>
         <div>
            <h3>Conteúdo</h3>
            <ul>
               <a href="/conteudo/boas-vindas"><li>Boas Vindas</li></a>
               <a href="/conteudo/introducao-a-programacao"><li>Introdução</li></a>
               <a href="/conteudo/programacao-em-c"><li>Estrutura em C</li></a>
               <a href="/conteudo/expressoes-condicionais"><li>Expressões Condicionais</li></a>
               <a href="/conteudo/estrutura-de-repeticao"><li>Estrutura de Repetição</li></a>
               <a href="/conteudo/operadores-e-expressoes"><li>Operadores e Expressões</li></a>
            </ul>
         </div>
         <div>
            <h3>Acesse:</h3>
            <a href="https://www.catolicasc.org.br" target="_blank"><p>www.catolicasc.org.br</p></a>
            <a href="https://www.catolicasc.org.br" target="_blank">
               <img src="/img/logo-catolica.png" alt="Logo Católica">
            </a>
         </div>
      </div>

   </section>

   <div class="bg-primary direitos">
      <a href="/">ProgMy</a> &copy; 2024 Todos os direitos reservados. 
   </div>
   
   <section id="codeEditor">
      <button class="close-editor editor">Fechar</button>
      <iframe frameborder="0" width="100%" 
         src="https://onecompiler.com/embed/c?theme=dark&hideLanguageSelection=true">
      </iframe>
   </section>

   <script src="/js/script.js"></script>
</body>
</html>
