<!DOCTYPE html>
<html lang="pt-BR">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="shortcut icon" type="imagex/png" href="/img/ico.png">
   <title><%= title %></title>
   <link rel="stylesheet" href="/css/styles.css">

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
   <script>hljs.highlightAll();</script>

   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=keyboard_arrow_down" />
</head>
<body>
    <header>
        <div class="navmenu">
            <a class="logo" href="/">
               <img src="/img/logo.png" alt="PucMy Logo">
            </a>
            <nav class="nav">
                <ul class="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/#aprendizado">Aprendizado</a></li>
                    <li><a href="/#exercicios">Exercícios</a></li>
                    <li><a href="/#quiz">Quiz</a></li>
                    <li><button class="editor editMobile">Editor de Códigos</button></li>
                </ul>
            </nav>
            <button class="editor editDesktop">Editor de Códigos</button>
            
            <div class="menu-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </header>