<%- include('../partials/header') %>
   
   <section class="capa-container">
      <img src="/img/posts/boas-vindas.jpg" class="sdw" alt="Capa Boas Vindas">
    </section>

    <section class="container">
      <div class="post-container">
         <div class="post-content">
            <h1>Boas Vindas</h1>
            <hr>
            
            <h3 class="mt-space">Seja Bem vindo(a)</h3>
            <p>
               Seja muito bem-vindo ao ProgMy, o site ideal para quem quer começar a aprender programação em C de maneira simples e descomplicada! Estamos animados em ter você por aqui e prontos para ajudar nessa jornada incrível pelo mundo da programação.
            </p>

            <h3 class="mt-space">Por que aprender C?</h3>
            <p>
               C é uma das linguagens de programação mais populares e importantes do mundo. Muitos sistemas que usamos todos os dias – desde sistemas operacionais até programas simples foram feitos em C. É uma linguagem conhecida por ser direta e eficiente, e aprender a programar em C é como aprender a "falar a língua" dos computadores. E o melhor: você não precisa de nenhuma experiência prévia! C é uma ótima escolha para quem está começando, pois ensina as bases do pensamento lógico e da resolução de problemas.
            </p>
            
            <h3 class="mt-space">O que você encontra no ProgMy?</h3>
            <p>
               No ProgMy, montamos um ambiente acolhedor e fácil de navegar, cheio de materiais que ajudam você a entender C desde o básico. Veja o que preparamos para você:
            </p>
            <ul>
               <li>
                  <span class="text-dark">Aulas passo a passo:</span> Explicamos cada conceito de maneira clara e prática, sem usar jargões complicados. Com exemplos simples, você aprende o essencial para dar seus primeiros passos com confiança.
               </li>
               <li>
                  <span class="text-dark">Exercícios práticos:</span>  Colocamos as mãos na massa! Após cada aula, você pode praticar com exercícios que ajudam a fixar o conteúdo. Quanto mais você pratica, mais confiante se torna.
               </li>
               <li>
                  <span class="text-dark">Desafios para iniciantes</span>Convidamos você a resolver desafios práticos que incentivam o raciocínio e o aprendizado na prática, sem pressão. Assim, você aprende de um jeito divertido.
               </li>
            </ul>

            <h3 class="mt-space">Como começar?</h3>
            <p>
               No ProgMy, você começa do zero, aprendendo desde o básico, escrever seu primeiro "Hello, World!" e entender os conceitos iniciais. Tudo está organizado em uma sequência pensada especialmente para iniciantes, para que você avance no seu próprio ritmo, sem pressa e sem complicação.
            </p>

            <h3 class="mt-space">Vamos programar juntos!</h3>
            <p>
               Sabemos que começar algo novo pode ser desafiador, mas estamos aqui para tornar essa experiência tranquila e prazerosa. No ProgMy, você encontrará um espaço feito para você aprender no seu ritmo, superar suas dúvidas e, o mais importante, se divertir enquanto aprende.
               <br>Então, prepare-se para essa nova aventura e venha descobrir como aprender a programar em C pode ser mais simples e recompensador do que você imagina. O ProgMy é o lugar certo para você dar seus primeiros passos no mundo da programação!
            </p>





         </div>

         <div class="topicos">
            <h3>Tópicos</h3>
            <ul>
               <li>Seja Bem vindo(a)</li>
               <li>Por que aprender C?</li>
               <li>O que você encontra no Progmy?</li>
               <li>Como começar?</li>
               <li>Vamos programar juntos!</li>
            </ul>
         </div>
      </div>
    </section>

<%- include('../partials/footer') %>