<%- include('../partials/header') %>
   
   <section class="capa-container">
      <img src="/img/posts/estrutura-de-repeticao.jpg" class="sdw" alt="Capa Boas Vindas">
    </section>

    <section class="container">
      <div class="post-container">
         <div class="post-content">
            <h1>Estruturas de Repetição</h1>
            <hr>
            
            <h3 class="mt-space">Estruturas de Repetição</h3>
            <p>
               Estruturas de repetição, também conhecidos como loops ou laços de repetição, são utilizados 
               para executar de forma repetitiva uma linha de código enquanto sua condição for atendida. 
               Nessa perspectiva, pode-se destacar que tais ferramentas são essenciais na produção de códigos 
               e auxiliam a otimizar tarefas, reduzir tamanho bruto da codificação em si e economizar tempo. 
            </p>
            
            <h3 class="mt-space">Por que utilizar estas Estruturas?</h3>


            
                   
            <%- include('../partials/card_exercices') %>
         </div>

         <div class="topicos">
            <h3>Tópicos</h3>
            <ul>
               <li>Estruturas Condicionais</li>
            </ul>
         </div>
      </div>

    </section>

<%- include('../partials/footer') %>