<%- include('../partials/header') %>
   
   <section class="capa-container">
      <img src="/img/posts/expressoes.jpg" class="sdw" alt="Capa Boas Vindas">
    </section>

    <section class="container">
      <div class="post-container">
         <div class="post-content">
            <h1>Estruturas Condicionais</h1>
            <hr>
            
            <h3 class="mt-space">Estruturas Condicionais</h3>
            <p>
               No conjunto das estruturas condicionais temos 4 tipos:
            </p>
            <ul>
               <li>If puro;</li>
               <li>If-else;</li>
               <li>If-else encadeado;</li>
               <li>Switch Case;</li>
            </ul>


            
                   
            <%- include('../partials/card_exercices') %>
         </div>

         <div class="topicos">
            <h3>Tópicos</h3>
            <ul>
               <li>Estruturas Condicionais</li>
            </ul>
         </div>
      </div>

    </section>

<%- include('../partials/footer') %>