<%- include('../partials/header') %>
   
   <section class="capa-container">
      <img src="/img/posts/introducao.jpg" class="sdw" alt="Capa Boas Vindas">
    </section>

    <section class="container">
      <div class="post-container">
         <div class="post-content">
            <h1>Introdução à Programação em C</h1>
            <hr>
            
            <h3 class="mt-space">Programação</h3>
            <p>
               Programação é o processo de escrever instruções para que um computador execute
               uma tarefa específica. Essas instruções, chamadas de código, são escritas em uma linguagem
               de programação que o computador possa entender. A programação funciona como uma
               ferramenta de comunicação entre desenvolvedores e computadores, permitindo a criação de programas, 
               aplicativos e softwares. 
            </p>

            <h3 class="mt-space">Por que Aprender Programação?</h3>
            <p>
               A demanda por programadores tem crescido significativamente nos últimos anos,
               tornando essa uma habilidade altamente valorizada no mercado de trabalho.
               Aprender programação é importante por diversas razões:
            </p>
            <ul>
               <li>
                  <span class="text-dark">Materialização de ideias criativas:</span>
                  Com programação é possível transformar conceitos abstratos em programas funcionais; 
               </li>
               <li>
                  <span class="text-dark">Melhoria da qualidade de vida:</span>
                  Soluções tecnológicas podem resolver problemas do dia a dia, aumentar nossa eficiência;
               </li>
               <li>
                  <span class="text-dark">Expansão de oportunidades:</span>
                  Programadores têm oportunidades globais, como trabalhar remotamente para empresas 
                  internacionais e ganhar em moedas estrangeiras; 
               </li>
               <li>
                  <span class="text-dark">Desenvolvimento de habilidades analíticas e lógicas:</span>
                  A prática da programação ensina a resolver problemas de forma estruturada, 
                  o que é útil em qualquer profissão. 
               </li>
            </ul>


            <h3 class="mt-space">Lógica de Programação</h3>
            <p>
               A lógica de programação é a habilidade de pensar de forma estruturada e lógica para
               desenvolver soluções que os computadores possam executar. Essa lógica permite a criação de
               algoritmos eficientes e eficazes.  
            </p>
            

            <h3 class="mt-space">Qual é a Importância da Lógica de Programação?</h3>
            <ul>
               <li>
                  <span class="text-dark">Resolução de Problemas:</span>
                  A lógica permite que os problemas sejam divididos em partes menores e mais fáceis de resolver.  
               </li>
               <li>
                  <span class="text-dark">Eficiência:</span>
                  Algoritmos bem desenhados consomem menos recursos e são mais rápidos. 
               </li>
               <li>
                  <span class="text-dark">Facilidade de Manutenção:</span>
                  Códigos com lógica clara são mais fáceis de manter e atualizar. 
               </li>
               <li>
                  <span class="text-dark">Adaptação a Novas Linguagens:</span>
                  Compreender a lógica facilita o aprendizado de novas linguagens, 
                  pois os princípios fundamentais são universais.
               </li>
            </ul>
            <p class="mt-space">
               Algumas formas de representar a lógica de programação incluem o uso de
               fluxogramas e algoritmos. A lógica não deve ser confundida com algoritmos; enquanto a
               lógica fornece a estrutura de pensamento, o algoritmo é uma sequência de instruções que
               resolve um problema específico. 
            </p>
            <img src="/img/introducao/img01.jpg">


            <h3 class="mt-space">Algoritimo</h3>
            <p>
               Um algoritmo é uma sequência finita de passos para resolver um problema ou realizar
               uma tarefa. É o coração da lógica de programação, e sua eficiência é essencial para garantir a
               otimização de recursos e o bom funcionamento dos sistemas. Ao aprender lógica de
               programação, desenvolvemos a habilidade de criar algoritmos que identificam variáveis,
               utilizam estruturas de controle (como loops e condicionais), e fazem uso de estruturas de
               dados apropriadas. 
            </p>

            <h3 class="mt-space">Quais os Benefícios de Algoritmos Eficientes?</h3>
            <ul>
               <li>Economizam tempo e recursos.</li>
               <li>Simplificam a manutenção do código.</li>
               <li>Garantem a funcionalidade desejada de forma clara e direta.</li>
            </ul>

            
            <h3 class="mt-space">Algoritimo 1: Troca de Pneu de Carro</h3>
            <ol>
               <li>Desligar o carro</li>
               <li>Pegar ferramentas (chave e macaco)</li>
               <li>Pegar estepe</li>
               <li>Suspender o carro com o macaco</li>
               <li>Desenroscar os 4 parafusos do pneu furado</li>
               <li>Colocar o estepe</li>
               <li>Enroscar os 4 parafusos</li>
               <li>Baixar o carro com o macaco</li>
               <li>Guardar ferramentas</li>
            </ol>

            <h3 class="mt-space">Fluxogramas</h3>
            <p>
               São representações gráficas da lógica e sequência de etapas de um algoritmo. Eles
               ajudam a visualizar de forma simples o fluxo de controle de um programa, facilitando a
               compreensão da estrutura lógica por trás do código e como um algoritmo funciona e auxiliam
               o desenvolvedor a mapear as sequências antes de elas serem implementadas. 
            </p>
            <img src="/img/introducao/img02.jpg" alt="">

            
            <h3 class="mt-space">Padrões de Símbolos do Fluxograma</h3>
            <p>
               Como o fluxograma possui uma larga abrangência em diferentes ocasiões e áreas, há
               uma necessidade de padronização dos elementos utilizados para designar as diferentes
               atividades dentro do mesmo. Por isso os símbolos usados em fluxogramas são padronizados
               pela ISO (International Organization for
               Standardization) e ANSI (American National Standards Institute), garantindo dessa forma a
               consistência, facilitando a leitura e compreensão em diferentes contextos.
            </p>
            
            <p>
               Podemos citar alguns dos símbolos utilizados frequentemente nos fluxogramas:
            </p>
            <ul>
               <li class="mt-space"><span class="text-dark">Oval:</span> Marca o início ou fim do processo</li>
            </ul>
            <img src="/img/introducao/oval.png" alt="Figura Oval">
            
            <ul>
               <li class="mt-space"><span class="text-dark">Paralelogramo:</span>  indica uma entrada ou saída de dados</li>
            </ul>
            <img src="/img/introducao/paralelogramo.png" alt="Figura Paralelogramo">
            
            <ul>
               <li class="mt-space"><span class="text-dark">Retângulo:</span> Que representa uma ação, como por exemplo um cálculo</li>
            </ul>
            <img src="/img/introducao/retangulo.png" alt="Figura Retângulo">

            <ul>
               <li class="mt-space"><span class="text-dark">Losango:</span> Mostra uma decisão (por exemplo, "se" ou "enquanto")</li>
            </ul>
            <img src="/img/introducao/paralelogramo.png" alt="Figura Paralelogramo">

            <ul>
               <li class="mt-space"><span class="text-dark">Seta:</span> Representa a conexão entre dois elementos, indicando a direção do 
               processo e o fluxo entre as atividades</li>
            </ul>
            <img src="/img/introducao/seta.png" alt="Figura Seta">
            
            <ul>
               <li class="mt-space"><span class="text-dark">Chave:</span> Utilizada para inserir comentários ao longo do fluxograma</li>
            </ul>
            <img src="/img/introducao/chaves.png" alt="Figura Chaves">

         
            <%- include('../partials/card_exercices') %>
         </div>

         <div class="topicos">
            <h3>Tópicos</h3>
            <ul>
               <li>Programação</li>
               <li>Por que Aprender Programação?</li>
               <li>Linguagens de Programação e Seus Tipos</li>
               <li>Lógica de Programação</li>
               <li>Importância da Lógica de Programação</li>
               <li>Algoritmos</li>
               <li>Benefícios de Algoritmos Eficientes</li>
               <li>Fluxogramas</li>
               <li>Padrões de Símbolos</li>
            </ul>
         </div>
      </div>

    </section>

<%- include('../partials/footer') %>