<%- include('../partials/header') %>
   
   <section class="capa-container">
      <img src="/img/posts/operadores.jpg" class="sdw" alt="Capa Boas Vindas">
    </section>

    <section class="container">
      <div class="post-container">
         <div class="post-content">
            <h1>Operadores e Expressões</h1>
            <hr>
            
            <h3 class="mt-space">Operadores e Expressões </h3>
            <ul>
               <li>Compreender o que são operadores e expressões na linguagem C.</li>
               <li>Aprender a utilizar diferentes tipos de operadores para realizar cálculos e comparações.</li>
               <li>Praticar a construção de expressões para manipular dados.</li>
            </ul>
            
            <h3 class="mt-space">Operadores Aritméticos e de Atribuição</h3>
            <p>
               Os operadores aritméticos são usados para realizar operações matemáticas. 
               <br>Abaixo, apresentamos a lista dos operadores aritméticos utilizados na linguagem C: 
            </p>
            <img src="/img/operadores/operador.png" alt="">
            <p>
               O operador binário pega duas variáveis, soma seus valores, sem alterar as variáveis, e retorna esta soma. 
               Outros operadores binários são os operadores - (subtração), *, / e %. O operador 
               - como troca de sinal é um operador unário que não altera a variável sobre a qual 
               é aplicado, pois ele retorna o valor da variável multiplicado por -1.<br>
               <b>O operador / (divisão)</b> quando aplicado a variáveis inteiras, nos fornece o 
               resultado da divisão inteira; quando aplicado a variáveis em ponto flutuante nos 
               fornece o resultado da divisão "real". O operador % fornece o resto da divisão de 
               dois inteiros.  
            </p>
            <%- include('../partials/card_exercices') %>
         </div>

         <div class="topicos">
            <h3>Tópicos</h3>
            <ul>
               <li>Operadores e Expressões</li>
            </ul>
         </div>
      </div>

    </section>

<%- include('../partials/footer') %>