<%- include('../partials/header') %>
   
   <section class="capa-container">
      <img src="/img/posts/programacao-em-c.jpg" class="sdw" alt="Capa Boas Vindas">
    </section>

    <section class="container">
      <div class="post-container">
         <div class="post-content">
            <h1>Estrutura de um Programa em C</h1>
            <hr>
            
            <h3 class="mt-space">Introdução</h3>
            <p>
               Criada em 1972 Bell por Dennis Ritchie a linguagem C se tornou uma das mais
               bem-sucedidas linguagens de programação.
            </p>



            
                   
            <%- include('../partials/card_exercices') %>
         </div>

         <div class="topicos">
            <h3>Tópicos</h3>
            <ul>
               <li>Programação</li>
            </ul>
         </div>
      </div>

    </section>

<%- include('../partials/footer') %>