<%- include('partials/header') %>

   <section class="capa">
      <img src="/img/CAPA.jpg" alt="capa">
    </section>

   <section class="container" id="aprendizado">
      <h1 class="mt-space">Vamos começar a aprender</h1>
      <hr>

      <div class="card-container">
         <div class="card sdw">
               <a href="/conteudo/boas-vindas">
                  <img src="/img/cards/boas-vindas.jpg" alt="Boas Vindas">
               </a>
               <div class="card-content">
                  <h3>Boas Vindas</h3>
                  <p>Aqui, acreditamos que a jornada de aprender C é tanto desafiadora quanto empolgante. 
                  Esta linguagem clássica e poderosa é a base para muitas tecnologias modernas...</p>
                  <a href="/conteudo/boas-vindas" class="learn-more">Saiba mais...</a>
               </div>
         </div>

         <div class="card sdw">
            <a href="/conteudo/introducao-a-programacao">
               <img src="/img/cards/introducao.jpg" alt="Introdução">
            </a>
               <div class="card-content">
                  <h3>Introdução à Programação</h3>
                  <p>Programação é o processo de escrever instruções para que um computador execute uma tarefa específica. Essas instruções, chamadas de código, são escritas em...</p>
                  <a href="/conteudo/introducao-a-programacao" class="learn-more">Saiba mais...</a>
               </div>
         </div>

         <div class="card sdw">
               <a href="/conteudo/programacao-em-c">
                  <img src="/img/cards/estruturac.jpg" alt="Programação em C">
               </a>
               <div class="card-content">
                  <h3>Programação em C</h3>
                  <p>Criada em 1972 nos laboratórios Bell por Dennis Ritchie, a linguagem C se tornou 
                  uma das mais bem-sucedidas linguagens de programação...</p>
                  <a href="/conteudo/programacao-em-c" class="learn-more">Saiba mais...</a>
               </div>
         </div>

         <div class="card sdw">
            <a href="/conteudo/operadores-e-expressoes">
               <img src="/img/cards/operadores.jpg" alt="Operadores e Expressões">
            </a>
            <div class="card-content">
               <h3>Operadores e Expressões</h3>
               <p>O C possui operadores unários e binários. Os unários agem sobre uma única variável, modificando 
               ou não seu valor, enquanto os binários utilizam duas variáveis e...</p>
               <a href="/conteudo/operadores-e-expressoes" class="learn-more">Saiba mais...</a>
            </div>
         </div>

         <div class="card sdw">
               <a href="/conteudo/expressoes-condicionais">
                  <img src="/img/cards/expressoes.jpg" alt="Expressões Condicionais">
               </a>
               <div class="card-content">
                  <h3>Expressões Condicionais</h3>
                  <p>A condição que fica dentro dos parênteses é o que vai definir se vai entrar dentro do 
                  comando if ou não, essa condição, pode ser representada por variáveis e operadores...</p>
                  <a href="/conteudo/expressoes-condicionais" class="learn-more">Saiba mais...</a>
               </div>
         </div>

         <div class="card sdw">
               <a href="/conteudo/estrutura-de-repeticao">
                  <img src="/img/cards/estrutura.jpg" alt="Estrutura de Repetição">
               </a>
               <div class="card-content">
                  <h3>Estrutura de Repetição</h3>
                  <p>Laços de repetição, também conhecidos como loops, são estruturas fundamentais em programação 
                  que permitem a execução repetida de um bloco de código enquanto...</p>
                  <a href="/conteudo/estrutura-de-repeticao" class="learn-more">Saiba mais...</a>
            </div>
         </div>

        
      </div>
   </section>

   <section class="full bg-primary exercices" id="exercicios">
      <div class="container">
         <h1 class="mt-space">Exercícios</h1>
         <hr>

         <div class="exercice-container">
            <div class="card-exercice sdw">
               <img src="/img/cards/introducao.jpg" alt="Introdução">
               <div class="exercice-content">
                  <h4>Introdução</h4>
                  <a href="/exercicios/introducao-a-programacao" class="btn-exercice">Exercício</a>
               </div>
            </div>

            <div class="card-exercice sdw">
               <img src="/img/cards/estruturac.jpg" alt="Estrutura em C">
               <div class="exercice-content">
                  <h4>Estrutura em C</h4>
                  <a href="/exercicios/programacao-em-c" class="btn-exercice">Exercício</a>
               </div>
            </div>

            <div class="card-exercice sdw">
               <img src="/img/cards/operadores.jpg" alt="Operadores e Expressões">
               <div class="exercice-content">
                  <h4>Operadores e Expressões</h4>
                  <a href="/exercicios/operadores-e-expressoes" class="btn-exercice">Exercício</a>
               </div>
            </div>

            <div class="card-exercice sdw">
               <img src="/img/cards/expressoes.jpg" alt="Expressões Condicionais">
               <div class="exercice-content">
                  <h4>Expressões Condicionais</h4>
                  <a href="/exercicios/expressoes-condicionais" class="btn-exercice">Exercício</a>
               </div>
            </div>

            <div class="card-exercice sdw">
               <img src="/img/cards/estrutura.jpg" alt="Estrutura de Repetição">
               <div class="exercice-content">
                  <h4>Estrutura de Repetição</h4>
                  <a href="/exercicios/estrutura-de-repeticao" class="btn-exercice">Exercício</a>
               </div>
            </div>

         </div>

      </div>
   </section>

   <section class="full" id="quiz">
      <div class="container">
         <div class="quiz">
            <h1 class="mt-space">Quiz</h1>
            <hr>
            <div class="quiz-container sdw mt-space">
               <img src="/img/quiz.jpg" alt="quiz">
               <div class="quiz-content">
                  <h2>Hora do Teste</h2>
                  <h3>Teste seu conhecimento sobre o que aprendeu!</h3>
                  <a href="https://forms.office.com/r/MDgk3upF0y" target="_blank"><button class="gdt-orange">Introdução a Programação</button></a>
                  <a href="https://forms.office.com/r/HY23sY2dA4" target="_blank"><button class="gdt-blue">Estrutura C</button></a>
                  <a href="https://forms.office.com/r/H8yaWqQh3B" target="_blank"><button class="gdt-purple">Estruturas condicionais</button></a>
                  <a href="https://forms.office.com/r/t7tSgy0f5x" target="_blank"><button class="gdt-pink">Estruturas de repetição</button></a>
                  <a href="https://forms.office.com/r/5RDF2bENRR" target="_blank"><button class="gdt-green">Operadores Lógicos</button></a>
               </div>
            </div>
         </div>
      </div>
      
   </section>

   <section class="full bg-blue-light mt-space">
      <div class="opinion-container">
         <div class="left">
            <p>Queremos saber sua</p>
            <h2>OPINIÃO</h2>
         </div>
         <a href="https://forms.gle/Y86oauohSyA1FEAr9" target="_blank"><button class="sdw">AVALIAR O ENSINO DESTE SITE</button></a>
      </div>
   </section>

<%- include('partials/footer') %>